@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    max-width: 1620px;
    margin: 0 auto;
    background-color: #262829;
}

.inner-shadow {
    box-shadow: 0px 0px 30.5px 0px rgba(0, 0, 0, 0.50) inset;
}

/* Estilizando a barra de rolagem para navegadores baseados em WebKit */
#sobre-modal::-webkit-scrollbar {
    width: 5px;/* Largura da barra vertical */
    height: 10px; /* Altura da barra horizontal (se aplicável) */
}

#sobre-modal::-webkit-scrollbar-track {
    background: #B9B6B5; /* Cor do fundo da barra */
    border-radius: 5px; /* Borda arredondada */
}

#sobre-modal::-webkit-scrollbar-thumb {
    background: #62929E; /* Cor do controle deslizante */
    border-radius: 5px; /* Borda arredondada */
}

#sobre-modal::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor do controle deslizante ao passar o mouse */
}

